html {
  background-color: #eeeeee;
}
.copyrights {
  color: #aaa;
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 10px;
  text-align: right;
  font-family: 'Arial', sans-serif;
}
.copyrights a {
  color: #999;
}
